:root
{
    --main-color: #56B53D;
    --highlight-color: #A3E492;
    --alternate-dark-color: #2e6e1c;
    --white-color: #fbfdfa;
    --black-color: #000;
    --error-color: #ff0000;
}

*
{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}