{% extends "base.html" %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'registration/css/registration.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'base/css/base.css'%}">
{% endblock %}

{% block main %}
    <div id="image-wrapper">
        <img src="{% static 'registration/img/list.png'%}">
        <a href="https://www.flaticon.com/free-icons/to-do-list" title="to do list icons">Icons created by Freepik - Flaticon</a>
    </div>
    <div id="input-wrapper">
        <section id="input-title">
            <h1>{% block title %}{% endblock%}</h1>
        </section>
        <section id="input-form">
            <section id="message">
                
            </section>
            <form action="" method="post">
                {% csrf_token %}
                <section id="error-message">
                    {% block formError%}{% endblock %}
                </section>
                
                {%if form%}
                    {%for field in form%}
                        {{field}}
                    {%endfor%}
                {%endif%}
                <input type="submit" name="submit-btn" value="{%block submitValue%}{%endblock%}">
            </form>
            {%block accountRedirect%}{%endblock%}
        </section>
    </div>
{% endblock %}
