{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Log in</title>
        <meta name="description" content="Log in Page">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href=" {% static 'registration/css/login.css'%}">
    </head>
    <body>
        <main>
            <div id="login-image-wrapper">
                <img src="{% static 'registration/img/list.png'%}">
                <a href="https://www.flaticon.com/free-icons/to-do-list" title="to do list icons">Icons created by Freepik - Flaticon</a>
            </div>
            <div id="login-input-wrapper">
                <section>
                    <h1>Login</h1>
                </section>
                <form action="" method="post">
                    {% csrf_token %}
                    {{form.username}}
                    {{form.username.errors}}
                    {{form.password}}
                    {{form.password.errors}}
                    <input type="submit" name="login-btn" value="Login">
                </form>
                <p>Don't have an account yet? <a href="">Sign up</a></p>
            </div>
        </main>
        <script src="" async defer></script>
    </body>
</html>