#left{
    display: none;
}

#right{
    width: 100%;
    border-radius: inherit;
}

#return{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    overflow: hidden;
}

#return-btn{
    background-color: inherit;
    border: none;
    cursor: pointer;
    color: var(--white-color);
    font-size: 2rem;
    margin: 1rem;
    transform: rotate(180deg);
}

#return-btn:hover{
    font-weight: 600;
    text-shadow: 1px -4px 7px rgba(0,0,0,0.59);
}