main{
    height: 35rem;
}

#welcome-title{
    padding: 1rem 0;
}

#welcome-title h3{
    text-transform: capitalize;
}

#task-links ul{
    padding: 0;
    user-select: none;
}

#today h4{
    padding-top: 1rem;
    font-size: 21px;
}

#task-links li{
    list-style: none;
}

.link, #sign-out-btn{
    padding: .5rem 0;
    text-transform: capitalize;
}

.link a{
    text-decoration: none;
}

.link a:hover, #sign-out-btn:hover{
    text-decoration: underline;
    cursor: pointer;
}

.link a:visited{
    color: inherit;
}

.scheduled, .completed, #sign-out-btn{
    font-weight: 600;
}

#sign-out-btn{
    border: none;
    background-color: inherit;
    font-size: 1rem;
    padding: 0;
}

#errors-container
{
    height: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.errorlist{
    display: block;
    padding: 0;
    font-size: 1rem;
    color: var(--error-color);
    list-style-type: none;
    font-weight: 550;
}

#next-task{
    display: flex;
    align-items: center;
    width: 90%;
    height: 3.5rem;
    border-radius: 1rem;
    background-color: var(--white-color);
    margin: 2rem 0;
    padding: .3rem;
}

#next{
    border: none;
    background-color: transparent;
    height: 2rem;
    flex-grow: 2;
    margin-left: 1rem;
}

#scheduled-time{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#add-task{
    border: none;
    margin-left: 1rem;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
    height: 3.5rem;
}