body{
    background-color: var(--main-color);
}

main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    display: flex;
    width: 50%;
    height: 60%;

    border-radius: 1.5rem;
    background-color: var(--white-color);

    padding: .5rem;
    box-shadow: 0px 5px 15px -1px rgba(0,0,0,0.75);
}

aside{
    display: flex;
    align-items: center;
    width: 25%;
    flex-direction: column;
}

#welcome{
    text-align: center;
    height: 15%;
    margin-top: 1rem;
}

hr{
    width: 80%;
}

ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

li{
    margin: 0.5rem 0;
}


.dot{
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    display: inline-block;
    margin: 0 .2rem;
}

.task{
    display: flex;
    flex-direction: row;
}

div{
    width: 100%;
}

#right{
    background-color: var(--main-color);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
}

#title, #next-task{
    width: 75%;
}

#title{
    margin-top: 1rem;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
}

#next-task{
    margin: 2rem 0;
    height: 30%;
}

#task-list{
    width: 70%;
    height: 70%;
    overflow-y: auto;
}

/*Scroll bar styling*/
::-webkit-scrollbar{
    background: var(--white-color);
    width: .5rem;
    
}

::-webkit-scrollbar-thumb{
    
    background-color: var(--alternate-dark-color);
}

#next-task section, #task-list section{
    background-color: var(--white-color);
    border-radius: 1rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: .5rem;
    padding: .2rem;
}

#task-list section{
    height: 3rem;
    margin: .8rem;
}

#dots{
    width: 10rem;
    white-space: nowrap;
}

#task-list #dots{
    width: 3rem;
}

#next-task input, #task-text{
    width: 100%;
    border: none;
}

#next-task input{
    font-size: 1rem;
}

#task-text{
    font-size: .9rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#next-task #time{
    width: 5rem;
    float: right;
}

#task-list #time{
    width: 8rem;
}

#next-task #time p{
    float: right;
}

#time p{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#task-list #completion{
    width: 5rem;
}

#task-list #completion input{
    float: right;
}