{% extends "base/dashboard_base.html" %}
{% load static %}

{% block morestyles%}
<link rel="stylesheet" type="text/css" href="{% static 'tasks/css/dashboard.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'tasks/css/tasks.css'%}">
<script type="text/javascript" src="{% static 'tasks/js/urgencySelector.js'%}"></script>
<script type="text/javascript" src="{% static 'tasks/js/completionStatus.js'%}"></script>
{% endblock %}

{% block left %}
    <div id="welcome-title">
        <h3>Welcome</h3>
        <h3>{{request.user.username}}</h3>
    </div>
    <hr id="sidebar-break">
    <nav id="task-links">
        <ul id="today">
            <li>
                <h4>Today Tasks</h4>
                <ul>
                    {% for task in tasks %}
                        {% if forloop.counter0 < 3 and task.completion_status == False%}
                            <li class="link"><a href="">{{task.title}}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if tasks %}
                        <li class="link see-more"><a href="">See More...</a></li>
                    {% else %}
                    <li class="link"><a href="">No Tasks Available</a></li>
                    {% endif %}
                    <li class="link scheduled"><a href="">Scheduled Tasks</a></li>
                    <li class="link completed"><a href="{% url 'tasks:completed' %}">Completed Tasks</a></li>
                    <form method="post" action="{% url 'accounts:logout'%}">
                        {%csrf_token%}
                        <input id="sign-out-btn" type="submit" value="Sign Out">
                    </form>
                </ul>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block right %}
    <div id="info-title">
        <h1>Today's Tasks</h1>
        <h2>{% now "M d Y"%}</h2>
    </div>
    <div id="errors-container">
        {% if formErrors %}
            {% for field, errors in formErrors.items %}
                {% if forloop.counter0 == 0 %}
                    {{errors}}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    <form id="next-task" method="post">
        {% csrf_token %}
        <div id="dots">
            <input type="radio" id="low" name="urgency" value="L"/>
            <label class="dot" for="low"></label>

            <input type="radio" id="medium" name="urgency" value="M"/>
            <label class="dot" for="medium"></label>

            <input type="radio" id="high" name="urgency" value="H"/>
            <label class="dot" for="high"></label>
        </div>
        <input id="next" type="text" name="title" placeholder="What is your next task?"/>
        <input id="scheduled-time" type="datetime-local" name="deadline"/>
        <input id="add-task" type="submit" name="create_task" value="+"/>
    </form>
    <div id="task-list">
        {% include "tasks/tasks.html" %}
    </div>
{% endblock %}