{% extends "base/dashboard_base.html" %}
{% load static %}

{% block morestyles%}
<link rel="stylesheet" type="text/css" href="{% static 'tasks/css/dashboard.css'%}">
<script type="text/javascript" src="{% static 'tasks/js/urgencySelector.js'%}"></script>
{% endblock %}

{% block left %}
    <div id="welcome-title">
        <h3>Welcome</h3>
        <h3>{{request.user.username}}</h3>
    </div>
    <hr id="sidebar-break">
    <nav id="task-links">
        <ul id="today">
            <li>
                <h4>Today Tasks</h4>
                <ul>
                    {% for task in tasks %}
                        {% if forloop.counter0 < 3 %}
                            <li class="link"><a href="">{{task.title}}</a></li>
                        {% endif %}
                    {% endfor %}
                    <li class="link see-more"><a href="">See More...</a></li>
                    <li class="link scheduled"><a href="">Scheduled Tasks</a></li>
                    <li class="link completed"><a href="">Completed Tasks</a></li>
                    <form method="post" action="{% url 'accounts:logout'%}">
                        {%csrf_token%}
                        <input id="sign-out-btn" type="submit" value="Sign Out">
                    </form>
                </ul>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block right %}
    <div id="info-title">
        <h1>Today's Tasks</h1>
        <h2>{% now "M d Y"%}</h2>
    </div>
    <div id="errors-container">
        {% if form.errors %}
            {% for field, errors in form.errors.items %}
                {% if forloop.counter0 == 0 %}
                    {{errors}}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    <form id="next-task" method="post">
        {% csrf_token %}
        <div id="dots">
            <input type="radio" id="low" name="urgency" value="L"/>
            <label class="dot" for="low"></label>

            <input type="radio" id="medium" name="urgency" value="M"/>
            <label class="dot" for="medium"></label>

            <input type="radio" id="high" name="urgency" value="H"/>
            <label class="dot" for="high"></label>
        </div>
        <input id="next" type="text" name="title" placeholder="What is your next task?"/>
        <input id="scheduled-time" type="datetime-local" name="deadline"/>
        <input id="add-task" type="submit" value="+"/>
    </form>
    <div id="task-list">
        {% for task in tasks %}
            {% if task.completion_status != True %}
                <div class="task">
                    <div class="urgency">
                        <span class="dot dot-{{task.urgency}}"></span>
                    </div>
                    <div class="task-title">
                        <p>{{task.title}}</p>
                    </div>
                    <div class="completion-time">
                        <p>{{task.deadline|date:"m/d | H:i A"}}</p>
                    </div>
                    <form class="completion" method="get">
                        <input type="checkbox" id="checkbox-{{task.id}}" name="complete-task" value="{{task.id}}" onchange="this.form.submit()" {% if task.completion_status %} checked {% endif %}/>
                        <label for="checkbox-{{task.id}}"></label>
                    </form>
                    <form class="delete" method="get">
                        <input type="hidden" id="delete-{{task.id}}" name="delete-task" value="{{task.id}}">
                        <input type="submit" id="delete-btn-{{task.id}}" value="X"> 
                    </form>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}